<div id="footer">
    <div class="connect">
        <div>
            <h1>FOLLOW OUR MISSIONS ON</h1>
            <div>
                <a href="http://freewebsitetemplates.com/go/facebook/" class="facebook">facebook</a>
                <a href="http://freewebsitetemplates.com/go/twitter/" class="twitter">twitter</a>
                <a href="http://freewebsitetemplates.com/go/googleplus/" class="googleplus">googleplus</a>
                <a href="http://pinterest.com/fwtemplates/" class="pinterest">pinterest</a>
            </div>
        </div>
    </div>
    <div class="footnote">
        <div>
            <p>&copy; 2023 BY SPACE PROSPECTION | ALL RIGHTS RESERVED</p>
        </div>
    </div>
</div>