{% load static %}
<div id="header">
    <div>
        <a href="{% url 'home' %}" class="logo"><img src="{% static 'logo.png' %}" alt=""></a>
        <ul id="navigation">
            <li class="selected">
                <a href="{% url 'home' %}">Home</a>
            </li>
            <li>
                <a href="{% url 'about' %}">About</a>
            </li>
            <li class="menu">
                <a href="{% url 'projects' %}">Projects</a>
            </li>
            <li class="menu">
                <a href="{% url 'blog' %}">Blog</a>
            </li>
            <li>
                <a href="{% url 'contact' %}">Contact</a>
            </li>
        </ul>
    </div>
</div>